# Dependencies
node_modules/
*/node_modules/

# Database local storage
pgdata/
*.log

# Environment variables
.env
*/.env
.env.local

# Build output
dist/
*/dist/
.tmp/

# OS files
.DS_Store
Thumbs.db
